

@keyframes show_slide {
   0% {
      transform: translateX(100%);
   }

   40% {
      transform: translateX(-10%);
   }

   80% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-10px);
   }
}

@keyframes hide_slide {
   0% {
      transform: translateX(-10px);
   }

   40% {
      transform: translateX(0%);
   }

   80% {
      transform: translateX(-10%);
   }

   100% {
      transform: translateX(100%);
   }
}


@keyframes opencover {

   0% {
      transform: rotateZ(0deg);
   }

   100% {
      transform: rotateZ(33deg);
   }
}

@keyframes tilt-shake {

   0%,
   20%,
   100% {
      transform: rotate(0deg);
   }

   10% {
      transform: rotate(5deg);
   }

   15% {
      transform: rotate(-10deg);
   }
}



