$c1: #001C30;
$c2: #DAFFFB;
$c3: #2E4F4F;
$c4: #a9f3fd;
$c5: #176B87;
$c6: #da983c;

$c-success: #026600;
$c-danger: #9C0000;
$tr1: rgba(0, 28, 48, 0.85);
$tr2: rgb(0, 28, 48);

$lg1: linear-gradient(135deg, #02afc5, #35c9dd, #87d1db, #a9f3fd, #4cb5c3);