$c1: #3fc1c0;
$c2: #1d4e89;
$c3: rgb(110, 113, 115);
$gradient1: linear-gradient(45deg, #1d4e89, #3fc1c0);
$gradient2: linear-gradient(45deg, #3fc1c0, #1d4e89);
$gradient3: linear-gradient(180deg, #3fc1c0, #1d4e89);

$c-success: #026600;
$c-danger: #9C0000;
$tr1: rgba(191, 196, 200, 0.80);
$tr2: rgb(191, 196, 200,1);
$mobile-size: 700px;