$c1: #D6AD60;
$c2: #122620;
$c3: rgb(110, 113, 115);
$gradient1: linear-gradient(45deg, #122620, #D6AD60);
$gradient2: linear-gradient(45deg, #D6AD60, #122620);

$c-success: #026600;
$c-danger: #9C0000;
$tr1: rgba(110, 113, 115, 0.85);
$tr2: rgb(110, 113, 115);
$mobile-size: 700px;