.table-container {
   height: 100%;
   overflow: auto;
   z-index: 0;
   position: relative;
   flex: 1;

   table {
      width: 100%;
      border-collapse: collapse;
      height: fit-content;
      color: white;

      thead {
         position: sticky;
         top: 0;
         z-index: 1;
         background: black;
         font-weight: 500;
         font-size: 1.1em;
         @media (max-width:$mobile-size) {
            font-size: 0.5em;
         }
      }

      tbody tr {
         background: $tr1;
         position: relative;

         &:nth-child(odd) {
            background: $tr2;
         }


      }

      p {
         font-size: 0.85em;

         @media (max-width:$mobile-size) {
            font-size: 0.45em;

         }
      }

      th {
         padding: 1em 0.5em;
         white-space: nowrap;
         position: relative;
         text-align: center;


         @media (max-width:$mobile-size) {
            // display: none;
         }
      }

      td {
         color: black;
         font-size: 1.1em;
         font-weight: 500;
         padding: 1em 0.5em;
         text-align: center;
         white-space: break-spaces;

         @media (max-width:$mobile-size) {
            padding: 0.15em;
         }

         span.mobile-header {
            display: none;
            flex-basis: 35%;
         }
      }


   }
}